.full-content {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

/* HOMEPAGE SLIDE*/
html {
    margin: 0;
}
#homepage-slide {
    background-image: url("/Images/homepage-visual.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
    height: 100vh;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.homepage-logo {
    width: 500px;
    margin-top: 0;
}

.neon-button {
    position: relative;
    background-color: transparent;
    text-align: center;
    padding: 8px 30px;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: 1.5s;
}

.neon-button:hover {
    box-shadow: 1px 1px 1px 0 white;

    text-shadow: 0 0 1px white, 0 0 1px white;
}

.homepage-welcome-bloc {
    margin-top: 65px;
    margin-bottom: 40px;
    position: absolute;
    right: 6%;
    max-width: 400px;
    color: white;
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 190%;
}


h6 {
   font-family:'Lato', sans-serif;
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 30px;
}

#enter-button {
    margin: 30px 0 50px 0;
}

/* INTRO SLIDE BOARD */

#intro-slide {
    background-color: black;
}

.intro-logo {
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.gif-animation {
    width: 400px;
    margin-left: 60px;
    margin-top: 30px;
}


.main-intro-content {
    display: flex;
    flex-direction: row;
    justify-content: space between;
}

.rules-bloc {
    margin-top: 65px;
    margin-bottom: 40px;
    position: absolute;
    right: 6%;
    max-width: 500px;
    color: white;
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 190%;
}

.fas.fa-arrow-alt-circle-right {
color: #eb0fc9;
}

rules-text {
margin-bottom: 30px;
line-height: 240%;
}


/* MAIN GAME BOARD */
#game-header {
    margin: 15px 15px;
    text-align: center;
}

.logo-bandeau {
    width: 380px;
}

#start-button {
    position: relative;
    top: -120px;
    color: white;
    border: 1px solid white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: black;
    padding: 10px 30px;
    }
    
#timer-start {
    width: 200px;
}

.fa-angle-double-right {
font-size: 40px;
color: rgb(236,7,124,1);
}


#main-content {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 10px;
    padding: 0;

    width: 100vw;
}

h1 {
    font-size: 28px;
    font-weight: 800;
    color: white;
    padding: 5px;
    margin-bottom: 25px;
   
}

canvas {
    margin: 4px;
    border: 1px solid white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 880px 460px;
    
    /* Check if I keep the gradient and change it
    border: 5px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
    */
}

.inputBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.empty {
    width: 0;
    height: 0;
}

.morgan-freeman {
    background-image: url('/Images/morgan_Freeman.jpg');
}

.barack-obama{
    background-image: url('/Images/barack_Obama.jpg');
}

.rihanna {
    background-image: url('/Images/rihanna.jpg');
}

.marcelo-rebelo-de-sousa {
    background-image: url('/Images/marcelo.jpg');
}

.scarlett-johansson {
    background-image: url('/Images/scarlett_Johansson.jpg');
}

.dalai-lama {
    background-image: url('/Images/dalai_Lama.jpg');
}

.aung-san-suu-kyi {
    background-image: url('/Images/aung_San_Suu_Kyi.jpg');
}

#left-column {
    color: white;
    max-width: 40px;
    margin-left: 0;
    position: absolute;
}
#full-game-board {
    margin-left: 10px;
    margin-right: 10px;
}
#countdown-box {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    padding: 0;
}

#countdown-title {
color: white;
margin-left: 4px;
font-size: 20px;
}

#countdown-current-value {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}

#style-start-text {
    font-size: 12px;
}


#right-column {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
    padding: 0;
    width: 100%;

}

#guess {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 30px;
    text-transform: lowercase;
    border-radius: 30px;
    width: 150px;
    margin-bottom: 30px;
}

#guess-title {
    color: white;
    font-size: 20px;
    }

label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
/* All these has to be removed and changed!
.box .inputBox input {
        width: 100%;
        padding: 0.625rem 0;
        font-size: 1rem;
        color: #fff;
        letter-spacing: 0.062rem;
        margin-bottom: 1.875rem;
        border: none;
        border-bottom: 0.065rem solid #fff;
        outline: none;
        background: transparent;
      }
      
.box .inputBox label {

        left: 0;
        padding: 0.625rem 0;
        font-size: 12px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
      }
      
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
        top: -1.125rem;
        left: 0;85
      }
      
#submit {
        outline: none;
        color: white;
        background-color: black;
        border: 1px solid white;
        padding: 6px 15px;
        cursor: pointer;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
      }89
      
.box input[type="submit"]:hover {
        background-color: white;
      }

*/


#footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-back-homepage {
    position: absolute;
    bottom: 10px;
    background-color: transparent;
    text-align: center;
    padding: 8px 30px;
    color: rgb(66, 63, 63);
    text-transform: uppercase;
    border: 1px solid rgb(66, 63, 63);
    border-radius: 30px;
    cursor: pointer;
    transition: 1.5s;
}

#audio-music {
    height: 0;
    width: 0;
}

#final-video {
    height: 100vh;
    margin-top: 0;
}

#end-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h4 {
   color: #062284;
   position: absolute;
   top: 58%;
}

#try-again {
    position: relative;

    margin-top: 0;
}